---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Erreur 404">
  <article>
    <div class="hero-content">
      <div class="text-center">
        <h1>
          <span class="highlight highlight-primary">404</span>
        </h1>
        <p>La page que vous demandez n'existe pas ou n'a jamais existé</p>
      </div>
    </div>
  </article>
</Layout>
